.pic:hover
{
    filter: drop-shadow(0 0 2em #b200f9aa);
    transform: scale(1.2);
    height: 20rem;
}

.flw-text:hover
{
    filter: drop-shadow(0 0 2em #b200f9aa);
}

.flw-text
{
    transition: filter 1s;
}

.pic, .picdiv
{
    transition: filter 1s;
    transition: transform 1s;
    transition: height 1s;
}

.btn
{
    transition: background-color 1s;
    transition: filter 1s;
}

.btn:hover
{
    filter: drop-shadow(0 0 2em #b200f9aa);
}

/* Pagination style */

.paginationBtns
{
    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
}

.paginationBtns a
{
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid #b200f9aa;
    color: #b200f9aa;
    cursor: pointer;
}

.paginationBtns a:hover
{
    color: white;
    background-color: #b200f9aa;
}

.paginationActive a
{
    color: white;
    background-color: #b200f9aa;
}